# Copie para android/keystore.properties e preencha apos criar o keystore:
#   copy keystore.properties.example android\keystore.properties
#
# Gere o keystore com: .\scripts\create-keystore.ps1

storeFile=../release.keystore
storePassword=SUA_SENHA_AQUI
keyAlias=jogodavelha
keyPassword=SUA_SENHA_AQUI
